body{
    background-color: #282D35;
    
}

.container {
    font-family: 'Inter', sans-serif;
    height: 100%;
    color: rgb(245, 245, 245);
    margin-top: 5em;
    margin-left: 2em;
    background-image: url('../../bg-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}

h1{
    font-size: 35px;
}

li {
    font-size: 20px;
}

ul {
    margin-top: 4em;
    line-height: 50px;
}

li::marker{
    font-size: 1.5em;
    color: #4dd2fa;
}