nav{
    background-color: #21222a;
    font-family: 'Inter', sans-serif;
}

.logo-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: space-around;
    color: #4dd2fa;
    margin-left: 2em;
    min-height: 100px;
}

.logo-div img{
    min-width: 200px;
}